/* Styling for the navigation bar */

#One {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to blue (black) on hover */
li a:hover {
  background-color: blue;
}
/*  Add an "active" class to the current link to 
let the user know which page he/she is on*/
.active {
  background-color: #blue;
}
/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}




/*-------------------------*/
    h1 {
        color: rgba(243, 3, 3, 0.911);
        font-size: 40px;
        text-align: center;
    }
    
    title {
        color: red;
        font-size: 30px;
        text-align: center;
    }
    
    img {
        border: 1px;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }
    
    h2 {
        color: blue;
    }